<div id="<%= dom_id company %>">
  <div>
    <strong>Name:</strong>
    <%= company.name %>
  </div>

  <div>
    <strong>Contact person:</strong>
    <%= company.contact_person %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= company.phone %>
  </div>

</div>
