<div id="<%= dom_id site %>">
  <div>
    <strong>Name:</strong>
    <%= site.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= site.address %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= site.start_date %>
  </div>

</div>
